Workshop Requirements

    1. Laptop with internet access

    2. A text editor that shows colors according to syntax
        Notepad++: https://notepad-plus-plus.org/downloads/v8.9.2/
        Sublime Text: https://www.sublimetext.com/

    3. Server Connectivity
        Windows: Windows PowerShell or Windows Subsystem for Linux (WSL)*.
        Linux/macOS: Terminal.

    4. File Transfer
        FileZilla or any other SFTP client.
        Download FileZilla

    5. Online Analysis via BV-BRC

        Please register at BV-BRC
        https://www.bv-brc.org/


* To install WSL on Windows 11, open PowerShell or Command Prompt as administrator, run wsl --install, and restart your computer. This command enables required features and installs Ubuntu by default. After rebooting, set up your Linux username and password.