Workshop Requirements

    1. Laptop with internet access

    2. A text editor that shows text colors according to language syntax
        Notepad++: https://notepad-plus-plus.org/downloads/v8.9.2/
        Sublime Text: https://www.sublimetext.com/

    3. Server Connectivity
        Windows: Windows PowerShell or Windows Subsystem for Linux (WSL)*.
        Linux/macOS: Terminal.

    4. File Transfer
        FileZilla or any other SFTP client.
        FileZilla: https://filezilla-project.org/download.php

    5. Gene phylogeny
        MEGA: https://www.megasoftware.net/
    
    6. Downstream pangenome analysis
        R Studio: https://posit.co/download/rstudio-desktop/

    7. Online Analysis via BV-BRC

        Please register at BV-BRC
        https://www.bv-brc.org/


* To install WSL on Windows 11, open PowerShell or Command Prompt as administrator, run wsl --install, and restart your computer. This command enables required features and installs Ubuntu by default. After rebooting, set up your Linux username and password.